    <script src="../../public/script/bootstrap/jquery-3.5.1.slim.min.js"></script>
    <script src="../../public/script/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../public/script/bootstrap/bootstrap.min.js"></script>
    <script src="../../public/script/bootstrap/popper.min.js"></script>
</body>
</html>